
/*.container-fluid{
	margin:0px;
	padding:0px;
}*/
/** MENU LATERAL **/

.menulateral {
  background: #FFFFFF;
  width: 9%;
  height: 100%;
  float: left;
}
.menulateral a {
  border-bottom:1px solid #CACACA;
  width: 100%!important;
  float:left!important;
}
.menulateral a img{
  margin: 14px;
}

.imagen-logo:hover{
	opacity: 0.3;
}
/** CONTENIDO **/


.header {
    background: url('../images/header_background.png') repeat;
    height: auto;
    width: 100%;
    margin-top: 0;
    float: left;
}
.header h2{
	font-size: 2.1em;
    font-weight: 200;
    color: #fff;
    padding: 10px 0 15px 31px;
    float: left;
    text-align: left;
}
.img-header img{
	float:right;
	margin-top: 25px;
    margin-right: 31px;
}

#logo-telefonica img{
	margin:0 auto;
	margin-top: 45px;
}
#logo-telefonica{
	width:100%;
	float:left;
}



/** menu-iconos **/


.linea-roja{
	width:100%;
	height:5px;
	background:#B23B39;
	padding:0px;
}
.linea-naranja{
	width:100%;
	height:5px;
	background:#C8611F;
}
.linea-azul{
	width:100%;
	height:5px;
	background-color:#5180AF;
}
/** CONTENIDO **/
.linea-footer{
	width:100%;
	height:10px;
	background-color:#282C59;
	float:left;
	
}
.fondo-mapa{
  width: 100%;
  height: 620px;
  margin-top: 20px;
/*  background:  url('../images/mapeo-background.jpg') no-repeat;*/
  background-color: white;

}

.menu-paises{
  width: 100%;
  height: 100px;
  background: fff;
  color: #282C59;

}


.menu-paises .text-info{

}

.text-info span{

	font-family: "BebasNewe", serif;

}

.country-cover .text-info {

	font-family: "BebasNewe", serif;

}
.footer{
  width: 100%;
  height: 100px;
  background: #262B56;

}

/** portal **/
.linea-text{
	width:100%;
	background-color:#f8f8f8;
	float:left;
}
.linea-text p{
	font-size:1.1em;
	color:#282c59;
	padding-top:6px;
	padding-left:31px;
}
.menu-paises{
	width:100%;
	float:left;
	height:auto;
	background-color: #eee;
	padding:180px 0 230px 0px;
	min-height: 600px;
}

.seccion-pais{
	width:100%;
	float:left;
	background-color:#fff;
	margin-top:40px;
}
.btn-pais a{
	font-size: 2.6em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    float: left;
    padding: 23px 0 23px 0;	
}
.btn-pais a:hover{
	text-decoration:none;
}
.btn-pais:last-child{
	border-right:0px!important;
}
.btn-pais{
	width:33%;
	float:left;
	border-right:1px solid #1b1464!important;
	padding:0px!important;
}

/** pais **/
.titulo-pais{
	/*width:100%;*/
	height:auto;
	float:left;
	margin-top:0px;
	padding:0px!important;
}
.content-titulos{
	width:100%;
	height:auto;
	float:left;
	border-bottom:1px solid #808080;
}
.country-cell{
	min-height: 30vh;
	border-right:1px solid #808080;
	text-align: center;
	vertical-align: center;
}

.country-cell img{
	margin-top: 30px;
}

.big-cell {
	padding: 50px 80px 50px 80px!important;
}

.big-cell img{
	float:left;
}

.big-cell div h3{
	text-align: left;
}

.big-cell div{
	margin-left: 10px;
	margin-top: 30px;
}
.titulo-pais h3{
	margin:0px;
	color:#282c59;
	font-weight:600;
	font-size:1em;
	text-align:center;
	line-height:15px;
	margin-top:6px;
	padding: 8px;
}
.titulo-pais p{
	margin:0px;
	color:#000;
	font-size: 1.0em;
	text-align:center;
}

#country-map-container{
	min-height: 50vh;
}

#country-map-container h2{
	font-weight:600;
	width:100%;
	text-align:center;
	font-size:2.6em;
}


#country-map-container img{
	float:left;
	opacity:0.5;
	padding-bottom: -16px;
	
}
.listas{
	width:100%;
	height:auto;
	border-right:1px solid #808080;
	float: left;
}
.listas h4{
	color:#282c59;
	font-weight:600;
	font-size:1.1em;
	text-align:center;
	margin-top:5px;

}
.listas p{
	font-size:0.7em;
	color:#000;
	text-align:left;
	padding-left: 17px;
	
}
.lista ul li{
	font-size:12px;
	color:#000!important;
}
.content-accion p{
	font-size:12px;
	color:#000;
	text-align:left;
	padding:10px;
	font-weight:200;
	line-height:22px;
}
.titulo-tasa{
	width:100%;
	height:77.8px!important;
}
.iconos-desarrollo{
	width:100%;
	float:left;
	padding:0px!important;
}
.iconos-desarrollo h2{
	font-size:23px;
	color:#282c59;
	text-align:center;
	width:100%;
	font-weight:600;
	margin-top: 9px;
}

.iconos-desarrollo h3{
	font-size:15px;
	width:100%;
	color:#282c59;
	text-align:center;
	font-weight:600;

}
.iconos-ods{
	transition: width 0.2s, padding-top 0.2s;
	width: 50px;
	padding-top: 50px;
	margin-bottom: 5px;
    float: left;
    margin-right: 1px;
    margin-top: 4px;
}

.iconos-ods:hover{
	width: 100px;
	padding-top: 0px;
}

.titulos-iconos{
	float:left;
}
.titulos-iconos img{
    margin-top: 6px;
    margin-left: 25px;
    padding-top: 40px;
}
.iconos-ods a img:hover {
    -webkit-filter: grayscale(100%);
}

.iconos-ods img {
  max-width:100%;
  max-height:100%;
}

.country-cover h2{
	color: #282c59;
	width: 350px
}

.country-cover{
	position: absolute;
	margin-top: 20px;
	width: 100%;
}

.marco-norm-btn{
	top:50%;
	left:30%;
	position: absolute;
}

.marco-norm-btn:hover {
 	box-shadow: -10px -10px 5px #888888;
 	background-color: #262B56;
}

.country-map-img{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.country-map{
	height: fill;
	width: fill;
}



/*********************************/

.pais-data > h2{
  color: #282c59;
  font-family: 'BebasNeue';
  font-size: 3.5vw;
  margin-bottom: 0;
}

.titulo-total-ods > h1{
	color: #282c59;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 40px;
	margin: 35px 0px 30px 10px;
	line-height: 42px;
}

.titulo-total-pais > h1{
	color: #282c59;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 40px;
	margin: 35px 0px 30px 10px;
	line-height: 42px;
}

.descarga  h4{
	color: #282c59;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 2vw;
	line-height: 57px;
	margin: 0;
}

/*********************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,900');
.data-container{
	padding: 0;
	margin-top: 10vh;
	min-height: 90vh;
	background-color: white;
}

.header-data-republica{
	padding: 0;
	height: auto;
	background-color: #fff;
	margin: 0
}
.logo-cepei{
	margin-left: 5px;
}
ul.menu-nav{
	float: left;
	margin: 0;
	padding: 0;
}
ul.menu-nav li{
	font-family: 'BebasNeue';
	font-size: 20px;
	float: left;
	list-style-type: none;
	height: 85px;
	padding: 31px 20px 0px 20px;
    line-height: 20px;
	border-left: dotted #282c59 1px;
	text-align: center;
	
}
ul.menu-nav li a{
	color: #333366;
}
ul.menu-nav li a:hover{
	text-decoration: none;
	color: #99ffcc;
}
ul.redes{
	float: left;
	margin: 0;
	padding: 0;
	border-left: dotted #282c59 1px;
}
ul.redes li{
	float: left;
	list-style-type: none;
	height: 85px;
	    margin: 0 5px;
	text-align: center;
	color: #282c59;
}
.fb-icon{
	width: 45px;
	background: url(../img/icon_fb.png) center center no-repeat;
}
.fb-icon:hover{
	background: url(../img/icon_fb-on.png) center center no-repeat;
}
.tw-icon{
	width: 45px;
	background: url(../img/icon_tw.png) center center no-repeat;
}
.tw-icon:hover{
	background: url(../img/icon_tw-on.png) center center no-repeat;
}
.yt-icon{
	width: 45px;
	background: url(../img/icon_yt.png) center center no-repeat;
}
.yt-icon:hover{
	background: url(../img/icon_yt-on.png) center center no-repeat;
}
ul.idiomas{
	float: left;
	margin: 0;
	padding: 0;
	float: left;
	border-left: dotted #282c59 1px;
}
ul.idiomas li{
	width: 100%;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 100;
	text-align:center; 
	list-style-type: none;
	height: 42px;
	padding:8px 10px; 
}
ul.idiomas li a{
	text-align: center;
	color: #282c59;
}
ul.idiomas li a:hover{
	text-decoration: none;
	color: #99ffcc;
}
.border-idiomas{
	border-bottom: dotted #282c59 1px;
}
.datos-fuentes{
	height: auto;
	padding: 10px 15px;
	background-color: #282c59;
}
.titulo-fuentes{
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 32px;
	line-height: 35px;
    color: #99ffcc;
    margin: 10px 0;
}
.cifras-fuentes.row {
    margin-left: 0px;
}

.circulo-fuente{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background-color: #99ffcc;
	color: #282c59;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 11px;
	line-height: 12px;
	text-align: center;
	padding: 18px 2px;
	margin: 0 24px;
}
.txt1{
	padding-top: 24px;
}
.txt2{
	font-size: 9.5px;
	}
.numero-fuente{
	color: #99ffcc;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}

.total-ods{
	border-right: #282c59 1px solid;
	height: 415px;
}
span#numero-total-ods{
	font-size: 60px;
	font-weight: 900;
}
.grafica-total-ods ul{
	padding: 0;
	margin: 0;
}
.grafica-total-ods ul li{
	padding-top: 245px;
	float: left;
	list-style-type: none;
}
.ods-text{
    width: 4%;
    margin-right: 20px;
    font-family: 'BebasNeue';
    font-size: 25px;
	color: #5180ae;
	text-align: center;
}
.barra-ods{
	width: 3.3%;
    margin: 10px 2% 0% 0%;
	height: 270px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3efcc2+0,3ebd40+50,00a6f3+100 */
	background: #3efcc2; /* Old browsers */
	background: -moz-linear-gradient(top,  #3efcc2 0%, #3ebd40 50%, #00a6f3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3efcc2 0%,#3ebd40 50%,#00a6f3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3efcc2 0%,#3ebd40 50%,#00a6f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3efcc2', endColorstr='#00a6f3',GradientType=0 ); /* IE6-9 */
	font-family: 'BebasNeue';
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.text-value-ods{
	float: left;
	background-color: #eeeeee;
	text-align: center;
	border-top: 1px solid #5180ae;
}
.text-value-ods h5{
	color: #282c59;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
}
.total-ods-res{
	border-bottom: #282c59 1px solid;
}
.grafica-total-ods-res{
	margin-bottom: 20px;
}
.grafica-total-ods-res ul{
	padding: 0;
	margin: 0;
	border-left: 1px solid #5180ae;
}
.grafica-total-ods-res ul li{
	list-style-type: none;
}
.barra-ods-res{
	height: 24px;
    margin: 10px 0px 10px 0px;
    padding-left: 5px;
	width: 300px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a6f3+0,3ebd40+50,3efcc2+100 */
	background: #00a6f3; /* Old browsers */
	background: -moz-linear-gradient(left,  #00a6f3 0%, #3ebd40 50%, #3efcc2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #00a6f3 0%,#3ebd40 50%,#3efcc2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #00a6f3 0%,#3ebd40 50%,#3efcc2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6f3', endColorstr='#3efcc2',GradientType=1 ); /* IE6-9 */
	font-family: 'BebasNeue';
	font-size: 17px;
	color: #fff;
	text-align: left;
}
.ods-text-res{
    margin-left: 6px;
    font-family: 'BebasNeue';
    font-size: 25px;
	color: #5180ae;
}
.text-value-ods-res{
	height: 622px;
	float: left;
	background-color: #eeeeee;
	text-align: center;
}
.text-value-ods-res h5{
    width: 300px;
	color: #282c59;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	transform: rotate(-90deg);
    transform-origin: left top 0;
    position: relative;
    float: left;
    top: 460px;
}
.grafica-total-pais ul{
	padding: 0;
	margin: 0;
}
.grafica-total-pais ul li{
	list-style-type: none;
	border-bottom: #00A6F3 1px solid;
	margin-bottom: 15px;
	padding-bottom: 5px;
}
.pais-data h2>span{
	background-color: #eee;
	margin: 0 5px;
	float: right;
	font-family: 'Roboto';
	padding: 0 5px;
}
.descarga{
	height: 57px;
	background-color: #eeeeee;
}

.item-csv a>h4{
	background-image: url(../img/icons-downloadcsv.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}
.item-xlsx a>h4{
	background-image: url(../img/icons-downloadxlsx.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}
.item-csv a:hover{
	text-decoration: none;
}
.item-csv a>h4:hover{
	background-image: url(../img/icons-download_hover.png);
	color: #00a6f3;
}
.item-xlsx a:hover{
	text-decoration: none;
}
.item-xlsx a>h4:hover{
	background-image: url(../img/icons-download_hover.png);
	/*color: #3fffcb;*/
}
@media only screen and (max-width: 1093px){
	.total-ods {
	    height: 450px;
	}
}
@media only screen and (min-width: 1200px){
	.titulo-fuentes{
		font-size: 32px;
		line-height: 35px;
		text-align: left;
		margin: 10px 0 5px 10px;
	}
	.cifra{
    	padding: 0 0 0 30px;
    	margin: 0;
	}
	.circulo-fuente{
		margin: 0;
	}
	.txt1{
		padding-top: 24px;
	}

	.numero-fuente{
		line-height: 60px;
		text-align: left;
	}
	.barra-ods {
	    width: 3.4%;
	}
	.total-ods {
	    height: 450px;
	}
}
@media only screen and (max-width: 992px){
	.titulo-fuentes{
		font-size: 35px;
	    line-height: 50px;
	    margin: 15px 0px;
	    text-align: center;
	}
	.cifra{
		margin:15px auto; 
		padding: 0 8%;
	}
	.circulo-fuente{
		margin: 0;
	}
	.txt1{
		padding-top: 24px;
	}
	.numero-fuente{
		line-height: 60px;
		font-size: 22px;
		text-align: left;
	}
	.ods-text{
	    margin-right: 20px;
	    font-size: 20px;
	}
	.total-ods {
	    height: 425px;
	}
}
@media only screen and (max-width: 768px){
	.logo-cepei{
		margin-left: 0;
	}	
	.redes-res ul{
		float: right;
		margin: 0;
		padding: 0;
	}
	.redes-res li{
		float: left;
		list-style-type: none;
		height: 85px;
	    margin: 0 5px;
		text-align: center;
		color: #282c59;
	}
	ul.menu-nav-res{
		margin: 0;
		padding: 0;
	}
	ul.menu-nav-res li{
		font-family: 'BebasNeue';
		font-size: 20px;
		list-style-type: none;
		height: 45px;
		padding: 10px 0px;
	    line-height: 20px;
		border-top: dotted #282c59 1px;
		text-align: center;
	
	}
	ul.menu-nav-res li a{
		color: #333366;
	}
	ul.menu-nav-res li a:hover{
		text-decoration: none;
		color: #99ffcc;
	}
	.idiomas-res{
		margin: 0;
		padding: 0;
	}
	.idiomas-res{
		text-align: center;
		font-family: 'Roboto';
		font-size: 18px;
		font-weight: 100;
		list-style-type: none;
		height: 42px;
		padding:8px 10px; 
		border-top: dotted #282c59 1px;
	}
	.idiomas-res a{
		text-align: center;
		color: #282c59;
	}
	.idiomas-res a:hover{
		text-decoration: none;
		color: #99ffcc;
	}
	.titulo-fuentes{
		font-size: 35px;
	    line-height: 50px;
	    margin: 15px 0px;
	    text-align: center;
	}
	
	.cifra{
		margin:15px auto; 
		padding: 0 13%;
	}
	.circulo-fuente{
		height: 90px;
		width: 90px;
		font-size: 14px;
		line-height: 15px;
		text-align: center;
		padding: 30px 2px;
		margin: 0 34px;
	}
	.txt1{
		padding-top: 38px;
	}
	.txt2{
		font-size: 13px;
	}
	.numero-fuente{
		font-size: 22px;
		line-height: 70px;
		padding: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 591px){
	.cifra{
		padding: 0 10%;
	}
	.circulo-fuente{
		margin: 0 28px;
	}
}
@media only screen and (max-width: 500px){
	.titulo-fuentes{
		
	}
	.cifra{
		margin:15px auto; 
		padding: 0 9%;
	}
	.circulo-fuente{
		text-align: center;
		margin: 0 15px;
	}
	h5{
		line-height: 0.1;
	}
	.grafica-total-ods-res>ul.col-xs-11 {
    width: 90%;
}

}