
.link {
  stroke: #000;
  opacity: 0.01;
  stroke-width: 1px;
}

#licensing {
  fill: green;
}

.node {
  fill: #ccc;
  stroke: #333;
  stroke-width: 0px;
  opacity: 0.2;
}

.node.highligthed {
  opacity: 1;
}

.node.selected {
  stroke-width: 1px;
  -webkit-filter: drop-shadow( -1px -1px 1px #000 );
            filter: drop-shadow( -1px -1px 1px #000 ); /* Same syntax as box-shadow */
}

.node:hover{
  stroke-width: 1px;
  
}

circle{
  fill:white;
}


.link.highligthed {
  /*stroke-dasharray: 0,2 1;*/
  stroke: #888;
  opacity:0.4;
  stroke-width: 1px;
}



text {
  font: 12px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.ods {
 fill:green;
 color:green;
}

.fuente {
 fill:#00A2A8;
 color:blue;
}

.datos {
 fill:#FF9122;
 color:red;
}

#tooltip{
  font: 14px sans-serif;
  //text-shadow: 2px 2px 20px #000;
  padding-top:20px;
}

.tooltip{
  color:white;
  background-color: #282C59;
}

.network-viz-container{
  min-height: 1000px;
  width: 80%;

}


.node:not(:hover) .nodetext {
  display: none;
}


.network-node-info{
  background:url('../images/seccion-background.jpg') repeat;
  padding-left: -15px!important;
  color:#282c59;
  
}

.network-node-info h2{
  color:#282c59;
  font-weight:800;
  width:100%;
  text-align:center;
  font-size:4em;
}

.network-node-info img{
  float:left;
  opacity:0.5;
  padding-bottom: -16px;

  
}

.network-node-info .network-instructions{
  text-align:center;
}

.network-conventions{
  text-align: center;
}

.network-convention{
  margin-left: 5%;
  margin-right: 5%;
}

.network-data {
   text-transform: capitalize;
}

.network-data h4{
   text-align: center;
   text-transform: uppercase;
}

.iconos-ods-network img{
  width: 50px;
  opacity: 1;
  /*padding-top: 50px;*/
  margin-bottom: 5px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    display: inline-block;

}

.iconos-ods-network{
  /*display: inline-flex;*/
  margin-left: 5px;
  margin-bottom: 5px;

}

.network-data-list div{
  cursor: pointer;
}

.network-data-list div:hover{
  cursor: pointer;
  font-style: italic;
  font-size: 1.02em

}
.ods-image{
  text-align: center;
}
.ods-image img{
  opacity: 1;
  margin: auto auto;
  display: inline;
  text-align: center;
  float:none;

}

.ods-image span{
  text-align: center;
}

.nodename{
  text-align: center;
}