@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,900');
@font-face {
    font-family: "BebasNewe";
    src: url(fonts/BebasNeue.otf) format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/3242FD_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/3242FD_0_0.woff2") format("woff2"), url("fonts/3242FD_0_0.woff") format("woff"), url("fonts/3242FD_0_0.ttf") format("truetype");
}

@font-face {
    font-family: 'helvetica_ce_35_thinregular';
    src: url('fonts/helvetica_neue_ce_35_thin-webfont.woff2') format('woff2'),
         url('fonts/helvetica_neue_ce_35_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{ 
  font-family: 'MyWebFont';
  src: url('WebFont.eot');
  src: url('WebFont.eot?#iefix') format('embedded-opentype'),
       url('WebFont.woff') format('woff'),
       url('WebFont.ttf') format('truetype'),
       url('WebFont.svg#webfont') format('svg');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-size: 16px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  background: #DBDBDB;
  overflow-x: hidden;
  width: 100%;
}

h2 {
  font-family: 'Helvetica', serif;
  color: #fff;

}


a{
  text-decoration:none;
  color:#000;
}
ul {
  font-size:12px;
  color:#000!important;
  margin-top:4px!important;
  padding-left: 30px;
}
li{
  font-size:12px;
  color:#000;
}

section {
    display: block;
    float: left;
}

section {
    display: block;
    float: left;
}

footer{
  background-color: #282c59;
  text-align: center;
}

footer span{
  width:70%;
  color:#D7DF01;
  font-size: 1.1em;
}

hr { 
    color:#282c59;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.background-degrade{
  background: -moz-linear-gradient(45deg,  #77A9CC 0%, #7ABE5B 100%); 
  background: -webkit-linear-gradient(45deg,  #77A9CC 0%, #7ABE5B 100%); 
  background: -o-linear-gradient(45deg,  #77A9CC 0%, #7ABE5B 100%);
  background: -ms-linear-gradient(45deg,  #77A9CC 0%, #7ABE5B 100%); 
  background:  repeating-linear-gradient(to bottom left, #3efcc2 0vmax, #3ebd40 50vmax, #00a6f3 100vmax, #3ebd40 150vmax,  #3efcc2  200vmax); 
  background-color:  #77A9CC; /* Old browsers */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*background-attachment: fixed;*/
}



.background-strips{
  padding-right: 0px;
  padding-left: 0px;
 }


.menu-bar{
  height: 10vh;
  background-color: white;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu-bar .logo-container{
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.menu-bar .logo-container img{
  display: inline-flex;
  align-items: center;
  max-height: 8vh;
  max-width: 8vw;
  margin-left: 5px;
  margin-right: 5px;
}

.menu-bar nav{
  display: inline-flex;;
  align-items: center;
  justify-content: center;
  color: black;
  float: right;
  height: 100%;
  padding: 0;
}

.menu-bar .menu-bar-links{
  height: 100%;
  width: 100%;
  float: right;
  color: #282c59;
  font-size: 1.5vw;
}

.menu-bar .menu-link-container{
  display: inline-flex;;
  align-items: center;
  justify-content: center;

  border-style: dotted;
  border-width: 0px;
  border-left-width: 1px;
  height: 100%;  
  padding-right: 10px;
  padding-left: 10px;


}

.menu-bar .menu-link-container a{
  /*width: 100%;*/
  text-align: center;
  color: #282c59;


}


.menu-bar .menu-link-container-right{

  width: 29%;

}

.menu-bar .menu-link-container-left{
  width: 100%;

}

.menu-bar .menu-link-container img{

  width: 100%;
}


.menu-bar .menu-locale-container{
  display: block;
  float:right;
  align-items: center;
  justify-content: center;
  color: black;
  border-style: dotted;
  border-width: 0px;
  border-left-width: 1px;
  height: 100%;  
  color: #282c59;
  font-size: 1.5vw;
  width: 10%;
}



.menu-bar .menu-bar-locale-buttons{
  height: 50%; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-right: 10px;
  padding-left: 10px;

}

.menu-bar .menu-bar-locale-buttons:last-child{
  border-style: dotted;
  border-width: 0px;
  border-top-width: 1px;  
}



.screen-container{
  height: 90vh;
  padding-top: 10vh;
  margin-bottom: 0.5vh;
}

/** CONTENIDO **/

.header {
  background: url('../images/header_background.jpg') repeat;
  height:85px;
  margin-top: -8px;
}

.header h1{
  font-family: 'Helvetica', serif;
  color: #fff;
  font-size: 30px;
  margin: 28px;
  width: 80%;

}

.header a{
  float: left;


}

.fondo-mapa{
  width: 100%;
  height: 620px;
  margin-top: 20px;
  background:  url('../images/mapeo-background.jpg') no-repeat;

}

.footer{
  width: 100%;
  height: 5vh;
  background: #262B56;

}


/** Otro jodido archivo de estilos ( home) **/

/*.container-fluid{
  margin:0px;
  padding:0px;
}*/
/** MENU LATERAL **/

/*.menulateral {
  background: #FFFFFF;
  width: 9%;
  height: 100%;
  float: left;
}
.menulateral a {
  border-bottom:1px solid #CACACA;
  width: 100%!important;
  float:left!important;
}
.menulateral a img{
  margin: 14px;
}*/

/*.imagen-logo:hover{
  opacity: 0.3;
}*/
/** CONTENIDO **/
.portal-cont{
  width:91%;
  height:auto;
  float:left;
}
.content{
  width: 100%;.menulateral a img
  height: auto;
  float: left;
  }
/*
#logo-telefonica img{
  margin:0 auto;
  margin-top: 45px;
}
#logo-telefonica{
  width:100%;
  float:left;
}
*/



/*.linea-roja{
  width:100%;
  height:5px;
  background:#B23B39;
  padding:0px;
}
.linea-naranja{
  width:100%;
  height:5px;
  background:#C8611F;
}
.linea-azul{
  width:100%;
  height:5px;
  background-color:#5180AF;
}*/
/** CONTENIDO **/
/*.linea-footer{
  width:100%;
  height:10px;
  background-color:#282C59;
  float:left;
  
}*/
/*.fondo-mapa{
  width: 100%;
  height: 620px;
  margin-top: 20px;
  background:  url('../images/mapeo-background.jpg') no-repeat;

}*/

.footer{
  width: 100%;
  height: 100px;
  background: #262B56;

}

/** portal **/
.linea-text{
  width:100%;
  background-color:#f8f8f8;
  float:left;
}

.linea-text p{
  font-size:1.1em;
  color:#282c59;
  padding-top:6px;
  padding-left:31px;
}

.seccion-pais{
  width:100%;
  float:left;
  background-color:#fff;
  margin-top:40px;
}
.btn-pais a{
  font-size: 2.6em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    float: left;
    padding: 23px 0 23px 0; 
}
.btn-pais a:hover{
  text-decoration:none;
}
.btn-pais:last-child{
  border-right:0px!important;
}
.btn-pais{
  width:33%;
  float:left;
  border-right:1px solid #1b1464!important;
  padding:0px!important;
}

.container {
    width: auto;
}

