.header-home {
  width: 100%;
  min-height: 30vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.intro{
  width: 100%;
  margin: 10vh 0 20px 0;
}
.intro .big-text{
  font-size: 2.25em;
  text-align: center;
  line-height: 36px;
  color:#21285A;
  font-family: 'BebasNeue', serif;
}
.small-text p{
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 55%;
  margin: 0 auto;
}
.intro .small-text{
  font-size: 1.3em;
  font-size:  1vw;
  margin-top: 1.1em;
  text-align: center;
  color: #21285A;
}

.menu-modulos-container{
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.menu-modulos{
  width: 28%;
  margin: 0 2.6%;
  padding: 10px;
  height: auto;
  align-items: center;
  justify-content: center;
  z-index: 600;
}
.menu-modulos a{
 align-items: center;
}

.menu-modulos p{
  font-family: 'Roboto';
  font-weight: 400;
  padding-top: 1.5vh;
  font-size: 14px;
  line-height: 16px;
  color:#282c59;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.menu-modulos a:hover{
  text-decoration: none;
  color: #23D2CD;
}
.menu-modulos p:hover{
  color: #23D2CD;
}
.bg-content-modulos {
  background-color: #EEEEEE;
  margin-top: -210px;
  height: 130px;
  width: 100%;
  z-index: 500;
}
.img-modulos{
  width: auto;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 82%;
  background-position: center;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}
.conecta-img{
  background-image: url(../images/logo-conecta-home.png);
}
.publica-img{
  background-image: url(../images/logo-publica-home.png);
}
.aprende-img{
  background-image: url(../images/logo-aprende-home.png);
}
.img-modulos:hover{
  background-color: #BDCC4A;
}
.conecta-img:hover{
  background-image: url(../images/logo-conecta-home_on.png);
}
.publica-img:hover{
  background-image: url(../images/logo-publica-home_on.png);
}
.aprende-img:hover{
  background-image: url(../images/logo-aprende-home_on.png);
}
.home-scroll{
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
}
.scrolldown{
  height: 35px;
  width: 35px;
  background-image: url(../images/icon_scrolldown.png);
}
.scrolldown:hover{
  background-image: url(../images/icon_scrolldown_on.png);
}
.scrollup{
  height: 35px;
  width: 35px;
  background-image: url(../images/icon_scrollup.png);
}
.scrollup:hover{
  background-image: url(../images/icon_scrollup_on.png);
}
.scroll-icon{
  max-height: 4vh;
}
.home-section-title h2{
  font-family: 'BebasNeue', serif;
  color:#21285A;
  text-align: center;
  font-size:80px;
  width: 100%;
}
.novedades{
  float: left;
  margin: 20px 0;
}
.news-box{
  width: 28%;
  height: 210px;
  margin: 0 2.6%;
  padding: 38px 30px 20px 30px;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  z-index: 600;
}
.news-box p{
  font-family: 'Roboto';
  margin-bottom: 30px;
  text-align: center;
}
p.news-text{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
p.news-important{
  font-size: 18px;
  line-height: 21px;
  color: #21285A;
  font-weight: 400;
  text-align: center;
}
p.news-important a{
  color: #21285A;
}
p.news-important a:hover{
  text-decoration:none; 
  color: #23D0CB;
}
.bg-content-news{
  background-color: #23D0CB;
  margin-top: -170px;
  height: 130px;
  width: 100%;
  z-index: 500;
}
.logos-home {
    float: left;
    width: 100%;
}
.logos-home >div>h4{
  font-family: 'BebasNeue', serif;
  font-size: 25px;
  color: #BDCC4A;
  text-align: center;
}
.logo-cepei_home p{
  font-family: 'Roboto';
  text-align: center;
  color:#282c59;
}
.logo-telefonica_home>a img {
  margin-top: 40px;
}
.sponsors-text p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color:#282c59;
  text-align: center;
}
.sponsor-img-container {
  align-items: center;
  justify-content: center;
  z-index: 500;
  margin-top: -50px !important;

}
.padding-sponsors {
  padding: 0;
}
.bg-countries-title {
    height: 50px;
    background-color: #BDCC4A;
    z-index: 100;
}
.sponsor-images{
  border-right: 1px dotted #21285A;
}
.sponsor-images.globales{
  border-right: none !important;
}
.sponsor-images ul{
  padding: 0;
  margin: 0;
}
.sponsor-images ul li{
  list-style-type: none;
  padding: 8px 0px;
}
.sponsor-images ul li a img.img-responsive {
    max-width: 90%;
}
.country-title{
  height: 50px;
  font-family: 'BebasNeue';
  font-size:18px;
  text-align: center;
  color: #fff;
  margin-top: -10px;
}
.sponsor-images.globales ul li a img.img-responsive {
  max-width: 68%;
}
#contact-us{
  height: 100vh;
}

.contact-us-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#contact-us form{
  text-align: center;
  color:#282c59;
}

#contact-us textarea {
    text-align: left;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    width: 60vw;
    height: 50vh;
}
@media(min-width:1200px) {
  .small-text p{
    width: 50%;
  }
  .img-modulos{
    width: 320px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: 85%;
  }
  .menu-modulos p{
    width: 80%;
  }
  .bg-content-modulos {
    margin-top: -216px;
    height: 130px;
  }
  .bg-content-news {
    margin-top: ;
  }
  .sponsor-img-container {
    padding: 10px;
  }
}
@media(min-width:1500px) {
  .sponsor-img-container {
    padding: 10px 80px;
  }
}
@media(max-width:1040px) {
  .bg-content-modulos {
    margin-top: -226px;
  }
  .news-box {
    height: 220px;
  }
}
@media(max-width:992px) {
  .small-text p{
    width: 65%;
  }
  .intro .big-text{
    font-size: 2.2em;
  }
  .menu-home{
    height:100%;
    width: 80%;
  }
  .img-modulos{
    background-size: 95%;
  }
  .bg-content-modulos {
    margin-top: -226px;
  }
  .news-box {
    width: 30%;
    height: 230px;
    margin: 0 1.6%;
    padding: 40px 30px 20px 30px;
  }
  p.news-text {
    font-size: 15px;
  }
  p.news-important{
    font-size: 16px;
  }
  .bg-content-news {
    margin-top: -180px;
  }
  .sponsor-images ul li a img.img-responsive {
    max-width: 75%;
  }
  .sponsor-images.globales ul li a img.img-responsive {
    max-width: 50%;
  }
  .globales>.country-title{
    background-color: #bdcc4a;
  }
  .globales>.country-title h3 {
    padding-top: 10px;
  }
}

@media(max-width:800px) {
  .bg-content-modulos {
    margin-top: -243px;
  }
  .news-box {
    height: 240px;
    padding: 30px 30px 20px 30px;
  }
  .news-box p {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) { 
  .header-home {
    margin-top: 0vh;
    margin-bottom: 2vh;
  }
  .intro{
    margin: 7vh 0 10px 0;
}
  .small-text p{
    width: 78%;
  }
  .intro .big-text{
    font-size: 2em;
    line-height: 1em;
  }
  .menu-modulos{
    width: 100%;
    margin: 10px auto;
  }
  .img-modulos{
    background-size: 40%;
  }
  .menu-modulos p{
    width: 60%;
  }
  .bg-content-modulos {
    height: 0;
  }
  .bg-content-news {
    height: 0;
  }
  .novedades {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .news-box{
    width: 100%;
    height: 180px;
    margin: 10px auto;
    padding: 40px 80px 20px 80px;
  }
  .logo-telefonica_home{
    margin-bottom: 10px;
  }
  .logo-telefonica_home>a img {
    margin-top: 10px;
  }
  .sponsor-images {
    padding: 0 !important;
  }
  .sponsor-images ul {
    padding: 12px 0;
  }
  .sponsor-images ul li {
    margin: 20px 0;
  }
  .mexico>.country-title, .colombia>.country-title{
    background-color: #bdcc4a;
  }
  .mexico>.country-title h3, .colombia>.country-title h3{
    padding-top: 10px;
  }
}

@media (max-width: 500px) { 
  .small-text p{
    width: 90%;
  }
  .news-box {
    height: 200px;
    padding: 40px 40px 20px 40px;
  }
  .img-modulos{
    background-size: 60%;
  }
}
