.menu-secc{
  height:auto;
  border-right:1px solid #1B1464;
  background:url('../images/mapeo-background.jpg') no-repeat;
  padding: 0px!important
}
.menu-secc img:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.menu-secc02 img:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.menu-secc03 img:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  
}
.menu-secc a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}
.menu-secc:last-child{
  border-right:none;
}

.menu-secc .text-info{
  color:#282c59;
}


.menu-secc h2{
  width: 79%;
    margin-bottom: 66px;
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 83px;
}
.menu-secc a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}


.menu-secc02 a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}
.menu-secc02 h2{
  width: 79%;
    margin-bottom: 66px;
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 83px;
}
.menu-secc02{
  background:url('../images/background01.png') no-repeat;
  height:auto;
  border-right:1px solid #1B1464;
  padding: 0px!important
}
.menu-secc03{
  background:url('../images/background02.png') no-repeat;
  height:auto;
  border-right:1px solid #1B1464;
  padding: 0px!important
}
.menu-secc03 a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}
.menu-secc03 h2{
  width: 79%;
    margin-bottom: 66px;
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 83px;
}

.header-home {
	background: #efefef url('../images/fondos/background_home.png');
	background-size: 80%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 60%; 
	width: 100%;
	margin-top: -8px;
	height: 400px;
	min-height:100%;
}

.header-home h1{
	font-family: 'Helvetica', serif;
	color: #282c59;
	margin: 28px;
	width: 25%;
	font-family: 'Helvetica', serif;
	font-size: 2.0em;
	text-align: center;
	margin: 0 auto;
	line-height: 40px;
	margin-bottom: 5px;
	font-weight: 600;

}

.header a{
  float: left;


}

.header {
    background: url('../images/header_background.png') repeat;
    height: auto;
    width: 100%;
    margin-top: 0;
    float: left;
}
.header h2{
  font-size: 2.1em;
    font-weight: 200;
    color: #fff;
    padding: 10px 0 15px 31px;
    float: left;
    text-align: left;
}
.img-header img{
  float:right;
  margin-top: 25px;
    margin-right: 31px;
}


.intro{
  width: 100%;
    height: auto;
    margin-top: 3%;
    float: right;/*
    margin-bottom: 44px;*/
}


.intro p{
    font-family: 'Helvetica', serif;
    color: #282c59;
    font-size: 1.2em;
    text-align: center;
	width: 30%;
    margin: 0 auto;
    line-height: 21px;
  
}
.intro a img{
  margin-top: 41px;
}
.intro a {
    width: 100%!important;
    float: left!important;
}

.intro .big-text{
  font-size: 15px;
  text-align: justify;
}

.intro .small-text{
  font-size: 12px;
  text-align: justify;
}

.menu-portal{
    width: 100%;
    float: right!important;
	padding: 0px!important;
}
/** menu-iconos **/
.menu-secc{
  height:auto;
  border-right:1px solid #1B1464;
  /*background:url('../images/mapeo-background.jpg') no-repeat;*/
  padding: 0px!important
}
.menu-secc img:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.menu-secc02 img:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.menu-secc03 img:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  
}
.menu-secc a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}
.menu-secc:last-child{
  border-right:none;
}


.menu-secc a img{
  margin: 0 auto;
    width: 15%;
    margin-top: 45px;
}
.menu-secc h2{
  width: 79%;
    margin-bottom: 45px;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
}
.menu-secc{
  height:auto;
  border-right:1px solid #1B1464;
  padding: 0px!important
}

.novedades .text-info{
	color:#282c59;
	text-align: left;
	margin-left: 30px;
}

.novedades .news-box{
	background-color: #fff;
  color:#000;
	margin:20px;
	min-height: 100px;
}