.menu-home{
  /*height:100%;*/
  background-color: white;
  padding: 0px!important;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-home h2{
    width: 79%;
    margin-top: 20px;
    font-size: 4em;
    font-size: 3vw;
    color:#282c59;
    /*font-family: 'helvetica_ce_35_thinregular';*/
    font-weight: 100;

}

.menu-home h2:hover{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.home-separator{
  width: 100%;
  min-height: 5vh;
  background-color: #282c59;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.header-home {
	width: 100%;
	margin-top: -8px;
  height: 50vh;
	margin-top: 10vh;
}

.header-home h1{
	color: #282c59;
  font-size: 12.0em;
	font-size: 10vw;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5px;
	font-weight: 600;
  font-family: "BebasNewe", serif;
  line-height: 0.5em;

}

.header a{
  float: left;


}

.header {
    background: url('../images/header_background.png') repeat;
    height: auto;
    width: 100%;
    margin-top: 0;
    float: left;
}
.header h2{
  font-size: 2.1em;
    font-weight: 200;
    color: #fff;
    padding: 10px 0 15px 31px;
    float: left;
    text-align: left;
    line-height: 1em;
}
.img-header img{
  float:right;
  margin-top: 25px;
    margin-right: 31px;
}


.intro{
  width: 100%;
    /*height: 70vh;*/
    /*margin-top: 7%;*/
    /*float: right;*/
    /*margin-bottom: 44px;*/
}


.intro p{
    font-family: 'Helvetica', serif;
	 width: 65%;
    margin: 0 auto;

  
}


.intro .big-text{
  font-size: 3em;
  font-size: 2.5vw;
  text-align: center;
  color:white;
}

.intro .small-text{
  font-size: 1.3em;
  font-size: 1vw;
  margin-top: 1.1em;
  text-align: center;
  color: white;
}

.menu-portal{
    width: 100%;
    float: right!important;
	padding: 0px!important;
  height: 35vh
}

#novedades{
  /*margin-top: 100px;*/
  height: 100vh;
}
#novedades .text-info{
	color:white;
	text-align: center;
	margin-left: 30px;
  font-size:4em;
  width: 100%;
  /*margin-top: 10px;*/
}

#novedades .news-box{
	background-color: #fff;
  color:#282c59;
	margin:3vh;
  min-height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}

#novedades .news-box p{
  margin-left:4vw;
  margin-right:4vw;
}

.home-scroll{
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


/*
.menu-secc02 img:hover{
  -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.menu-secc03 img:hover{
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  
}

.menu-secc02 a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}
.menu-secc02 h2{
  width: 79%;
    margin-bottom: 66px;
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 83px;
}
.menu-secc02{
  background:url('../images/background01.png') no-repeat;
  height:auto;
  border-right:1px solid #1B1464;
  padding: 0px!important
}
.menu-secc03{
  background:url('../images/background02.png') no-repeat;
  height:auto;
  border-right:1px solid #1B1464;
  padding: 0px!important
}
.menu-secc03 a img{
  margin: 0 auto;
    width: 30%;
    margin-top: 45px;
}
.menu-secc03 h2{
  width: 79%;
    margin-bottom: 66px;
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 83px;
}
*/

@media(min-width:768px) {
  .menu-home{
    height:100%;
/*    background-color: white;
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;*/

  }


}