
/** CONTENIDO **/
.title-modulo.aprende{
	padding-top: 25px;
}
.aprende-anos{
	padding-top: 20px;
	padding-bottom: 10px;
	border-right: #282c59 1px solid;
	height: 410px;
}
.title-year h3{
	font-family: 'BebasNeue';
	font-size:70px;
	color: #23d0cb; 
	text-align: right;
	margin: 0;
	line-height: 70px;
}
.title-year{
	padding: 10px;
}
.title-image{
	border-left: 1px dotted #23d0cb;
	margin-top: 20px;
}
.title-taller h4{
	font-family: 'BebasNeue';
	font-size: 25px;
	color: #21285a;
	text-align: center;
}
.title-taller h4>span{
	color: #bdcc4a;
	font-size: 30px;
}
.countries-aprende{
	margin: 40px 0 20px 0;
}
.circulo-country {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background-color: #bdcc4a;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    padding: 27px 2px;
    margin: 0 22px;
}
.txt-cr{
	padding-top: 22px;
}
.fecha-taller{
	font-family: 'Roboto';
	font-size: 12px;
	color: #21285a;
	text-align: center;
	font-weight: 100;
	margin-top: 10px;
}
.cuadro-info{
	height: auto;
	display: block;
	padding: 10px 15px;
	background-color: #21285a;
}
.cuadro-info p{
	font-family: 'Roboto';
	font-size: 12px;
	color: #fff;
	text-align: left;
	font-weight: 400;
	margin-top: 15px;
}
.info-mooc {
    margin: 40px 0 20px 0;
}
.aprende-aliados{
	padding-top: 40px;
	padding-bottom: 10px;
}
.aliados-title-aprende h5{
	font-family: 'BebasNeue';
	font-size: 40px;
	color: #23d0cb;
	text-align: center;
	margin-bottom: 40px;
}
.logos-aprende>div>img {
    margin: 0px auto 20px auto;
}
.escuela-datos_aprende img{
	max-width: 70%;
}
@media only screen and (min-width: 1200px){
	.aprende-anos{
		height: 450px;
	}
	.country-taller{
    	padding: 0;
    	margin: 0;
	}
	.circulo-country {
		margin-left: 30%;
	}
}
@media only screen and (min-width: 1439px){
	.circulo-country {
	    height: 70px;
	    width: 70px;
	    font-family: 'Roboto';
	    font-weight: 400;
	    font-size: 13px;
	    line-height: 15px;
	    padding: 20px 2px;
	    margin: 0;
	}
}
@media only screen and (max-width: 1093px){
	.circulo-country{
		margin: 0 15px;
	}
}
@media only screen and (max-width: 992px){
	.description-modulo-full {
	    padding: 12px 25px;
	}
	.aprende-anos{
		height: auto;
		border-right: none;
		border-bottom: #282c59 1px solid;
	}
	.country-taller{
		margin: 0px auto;
    	padding: 0 3%;
	}
	.circulo-country{
	    height: 70px;
	    width: 70px;
	    font-family: 'Roboto';
	    font-weight: 400;
	    font-size: 13px;
	    line-height: 15px;
	    margin: 0;
	}
	.fecha-taller {
	    margin-top: 12px;
	}
	.aprende-aliados {
	    padding-top: 20px;
	}
	.logos-aprende>div>img {
	    max-width: 70%;
	}
	.escuela-datos_aprende img {
	    max-width: 40% !important;
	}
	.logos-aprende>div>img {
    margin: 0px auto 30px auto;
	}
	.miriadax_aprende img{
		margin-top: 30px;
	}
}
@media only screen and (max-width: 768px){
	.country-taller{
		margin: 10px auto;
   		padding-left: 18%;
	}
	.circulo-country{
		height: 90px;
		width: 90px;
		font-size: 14px;
		line-height: 15px;
		text-align: center;
		padding: 38px 2px;
		margin: 0 34px;
	}
	.txt-cr{
		padding-top: 33px;
	}
	.fecha-taller {
		font-size: 18px;
		text-align: left;
	    margin-top: 21px;
	}
	.cuadro-info{
		margin-bottom: 10px;
	}
	.miriadax_aprende img{
		max-width: 43% !important;
	}
}
@media only screen and (max-width: 591px){
	.country-taller{
		padding: 0 10%;
	}
	.miriadax_aprende img{
		max-width: 65% !important;
	}
}
@media only screen and (max-width: 500px){
	.country-taller{
		padding: 0 4.8%;
	}
	.fecha-taller {
		font-size: 15px;
		margin-top: 24px;
	}

}