.network-container{
  height: 100vh;
  padding-top: 10vh;
  /*margin-bottom: 0.5vh;*/
}

#forcemap{
  text-align: center;
  background-color: white;
  min-height: 83.5vh;
}

#forcemap svg{

}


.link {
  stroke: #000;
  opacity: 0.01;
  stroke-width: 1px;
}

#licensing {
  fill: green;
}

.node {
  fill: #ccc;
  stroke: #333;
  stroke-width: 0px;
  opacity: 0.2;
}

.node.highligthed {
  opacity: 1;
}

.node.selected {
  stroke-width: 1px;
  -webkit-filter: drop-shadow( -1px -1px 1px #000 );
     -moz-filter: drop-shadow( -1px -1px 1px #000 ); 
          filter: drop-shadow( -1px -1px 1px #000 ); 
}

.node:hover{
  stroke-width: 1px;
  
}

circle{
  fill:white;
}


.link.highligthed {
  /*stroke-dasharray: 0,2 1;*/
  stroke: #888;
  opacity:0.4;
  stroke-width: 1px;
}



text {
  font: 12px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.ods {
 fill:green;
 color:green;
}

.fuente {
 fill:#3efcc2;
 color:blue;
}

.datos {
 fill:grey;
 color:red;
}

#tooltip{
  font: 14px sans-serif;
  //text-shadow: 2px 2px 20px #000;
  padding-top:20px;
}

.tooltip{
  color:white;
  background-color: #282C59;
}

.network-viz-container{
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}


.node:not(:hover) .nodetext {
  display: none;
}

.network-node-info-container{
  padding-left: 0px;
  padding-right: 0px;
  border-width: 0px;
  border-style: solid;
  border-left-width: 1px;
  border-left-color: grey;
  height: 100%;
  background-color: white;
  
}

.network-node-info{
  background:url('../images/seccion-background.jpg') repeat;
  /*padding-left: -15px!important;*/
  color:#282c59;
  overflow: auto;
  height: 83.5vh;
  
}

.network-node-info h2{
  color:#282c59;
  font-weight:800;
  width:100%;
  text-align:center;
  font-size:4em;
}

.network-node-info img{
  float:left;
  opacity:0.5;
  padding-bottom: -16px;

  
}

.network-node-info .network-instructions{
  text-align:center;
}

.network-conventions{
  padding-left: 0px;
  padding-right: 0px;
  border-width: 0px;
  border-style: solid;
  border-right-width: 1px;
  border-right-color: grey;
  background-color: white;
  color: black;
  height: 100%;
}

.network-convention{
  text-align: justify;
  margin:1vw;
  /*height: 100vh;*/
}

.network-convention-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83.5vh;
}

.network-data {
   text-transform: capitalize;
}

.network-data h4{
   text-align: center;
   text-transform: uppercase;
}

.iconos-ods-network img{
  width: 50px;
  opacity: 1;
  /*padding-top: 50px;*/
  margin-bottom: 5px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
    display: inline-block;

}

.iconos-ods-network{
  /*display: inline-flex;*/
  margin-left: 5px;
  margin-bottom: 5px;

}

.network-data-list div{
  cursor: pointer;
}

.network-data-list div:hover{
  cursor: pointer;
  font-style: italic;
  font-size: 1.02em

}
.ods-image{
  text-align: center;
}
.ods-image img{
  opacity: 1;
  margin: auto auto;
  display: inline;
  text-align: center;
  float:none;

}

.ods-image span{
  text-align: center;
}

.nodename{
  text-align: center;
}

#network-viz-header{
  height: 6.5vh;
  background-color: #282c59;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 0.8vw;

}


#network-viz-header p{
  margin-bottom: 0;

}

.country-name{
  color:#3efcc2;
  width: 100%;
  text-align: left;
  font-size: 4vh;
}