@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,900');

@font-face {
    font-family: "BebasNewe";
    src: url(fonts/BebasNeue.otf) format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/3242FD_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/3242FD_0_0.woff2") format("woff2"), url("fonts/3242FD_0_0.woff") format("woff"), url("fonts/3242FD_0_0.ttf") format("truetype");
}

@font-face {
    font-family: 'helvetica_ce_35_thinregular';
    src: url('fonts/helvetica_neue_ce_35_thin-webfont.woff2') format('woff2'),
         url('fonts/helvetica_neue_ce_35_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{ 
  font-family: 'MyWebFont';
  src: url('WebFont.eot');
  src: url('WebFont.eot?#iefix') format('embedded-opentype'),
       url('WebFont.woff') format('woff'),
       url('WebFont.ttf') format('truetype'),
       url('WebFont.svg#webfont') format('svg');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
  width: 100%;
}

h2 {
  font-family: 'Helvetica', serif;
  color: #fff;

}


a{
  text-decoration:none;
  color:#000;
}
a:hover, a:focus {
    text-decoration: none;
}
ul {
  font-size:12px;
  color:#000!important;
  padding-left: 30px;
}
li{
  font-size:12px;
  color:#000;
}
section {
    display: block;
    float: left;
}
footer{
  background-color: #282c59;
  text-align: center;
}
footer span{
  width:70%;
  color:#D7DF01;
  font-size: 1.1em;
}
hr { 
    color:#282c59;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

/**Menu**/

.data-container{
  padding: 0;
}
.header-data-republica{
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar {
  border-radius: 0px;
}
.navbar-default {
  background-color: #23D0CB;
  border: none;
}
ul.menu-nav{
  margin: 0 !important;
  padding: 0;
}
ul.menu-nav li{
  line-height: 20px;
  border-right: dotted #fff 1px;
  text-align: center;
  
}
ul.menu-nav li a{
  height: 85px;
  font-family: 'BebasNeue';
  font-size: 20px;
  list-style-type: none;
  padding: 31px 20px 0px 20px;
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: none;
  color: #21285A;
}
.menu-nav > .active > a, .menu-nav > .active > a:hover, .menu-nav > .active > a:focus {
  color: #fff;
  background-color: #1b9e97;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #1b9e97;
}
.space-top{
  padding-top: 20px !important;
}
.navbar-right {
  margin-right: -5px;
}
ul.redes{
  float: left;
  margin: 0;
  padding: 0;
}
ul.redes li{
  float: left;
  list-style-type: none;
  height: 85px;
  margin: 0 5px;
  text-align: center;
  color: #282c59;
}
.fb-icon{
  width: 45px;
  background: url(../images/icon_fb.png) center center no-repeat;
}
.fb-icon:hover{
  background: url(../images/icon_fb-on.png) center center no-repeat;
}
.tw-icon{
  width: 45px;
  background: url(../images/icon_tw.png) center center no-repeat;
}
.tw-icon:hover{
  background: url(../images/icon_tw-on.png) center center no-repeat;
}
.yt-icon{
  width: 45px;
  background: url(../images/icon_yt.png) center center no-repeat;
}
.yt-icon:hover{
  background: url(../images/icon_yt-on.png) center center no-repeat;
}
ul.idiomas{
  float: left;
  margin: 0;
  padding: 0;
  border-left: dotted #fff 1px;
}
ul.idiomas li{
  width: 100%;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 100;
  text-align:center; 
  list-style-type: none;
  height: 42px;
  padding:8px 10px; 
}
ul.idiomas li a{
  text-align: center;
  color: #fff;
}
ul.idiomas li a:hover{
  text-decoration: none;
  color: #21285A;
}
.border-idiomas{
  border-bottom: dotted #fff 1px;
}
.navbar-toggle{
  border: none;
  background-color: #fff;
  margin-right: 30px;
}
.navbar-default .navbar-toggle:hover{
  background-color: #1b9e97;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.background-strips{
}
.screen-container{
  background-color: #fff;
  /*height: 90vh;*/
  padding-top: 2vh;
  margin-bottom: 0.5vh;
}

/** MENU MÓDULOS**/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0px;
}
.navbar-brand {
  float: left;
  height: auto;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 20px;
}

/** CONTENIDO **/
.header-section{
    margin-top: 85px;
    padding-top:10px;
}
.logo-modulo{
  text-align: center;
}
.logo-modulo img{
  max-width: 85%;
}
.title-modulo{
  text-align: center;
  padding-top: 10px;
}
.title-modulo h1{
  font-family: 'BebasNeue';
  font-size: 50px;
  color: #BDCC4A;
  margin: 0;
}
.title-modulo h2{
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 36px;
  color: #21285A;
  margin: 0 0 20px 0;
}
.description-modulo{
  width: 100%;
  background-color: #EEEEEE;
  padding: 10px;
}
.description-modulo-full {
  width: 100%;
  background-color: #EEEEEE;
  padding: 10px;
  float: left;
  margin-top: 15px;
}
.description-modulo h3, .description-modulo-full h3{
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  color: #21285A;
  margin: 0;
  text-align: center;
} 

.header {
  background: url('../images/header_background.jpg') repeat;
  height:85px;
  margin-top: -8px;
}

.header h1{
  font-family: 'Roboto', serif;
  color: #fff;
  font-size: 30px;
  margin: 28px;
  width: 80%;

}
.header a{
  float: left;
}

.fondo-mapa{
  width: 100%;
  height: 620px;
  margin-top: 20px;
  background:  url('../images/mapeo-background.jpg') no-repeat;

}

.footer{
  width: 100%;
  height: 5vh;
  background: #262B56;

}

/** CONTENIDO **/

.portal-cont{
  width:91%;
  height:auto;
  float:left;
}
.content{
  width: 100%;
  height: auto;
  float: left;
  }

.footer{
  width: 100%;
  height: 100px;
  background: #262B56;

}

/** portal **/
.linea-text{
  width:100%;
  background-color:#f8f8f8;
  float:left;
}

.linea-text p{
  font-size:1.1em;
  color:#282c59;
  padding-top:6px;
  padding-left:31px;
}

.seccion-pais{
  width:100%;
  float:left;
  background-color:#fff;
  margin-top:40px;
}
.btn-pais a{
  font-size: 2.6em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    float: left;
    padding: 23px 0 23px 0; 
}
.btn-pais a:hover{
  text-decoration:none;
}
.btn-pais:last-child{
  border-right:0px!important;
}
.btn-pais{
  width:33%;
  float:left;
  border-right:1px solid #1b1464!important;
  padding:0px!important;
}
.container {
    width: auto;
}

@media(min-width: 1200px){
  .logo-modulo img{
    max-width: 100%;
  }
  .title-modulo h1{
    font-size: 56px;
  }
  .title-modulo h2{
    font-size: 40px;
  }
  .description-modulo h3{
    font-size: 24px;
  }    
}
@media(min-width: 1000px){
  .logo-modulo img{
    max-width: 75%;
  }
}
@media(max-width:992px) {
  .logo-modulo img{
    max-width: 80%;
  }
  .title-modulo h1{
    font-size: 40px;
  }
  .title-modulo h2{
    font-size: 30px;
  }
  .description-modulo h3{
    font-size: 20px;
  }  
}
@media(max-width:850px) {
  .logo-modulo img{
    max-width: 100%;
  }
}
@media(max-width:768px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: #fff 1px dotted;
  }
  ul.menu-nav li{
    border-right: none;
    border-bottom: dotted #fff 1px;
  }
  ul.menu-nav li a{
    height: 65px;
    padding: 20px 0px;
  }
  .space-top{
    padding-top: 10px !important;
  }
  ul.redes{
    padding-left: 30px
  }
  ul.redes li {
    height: 50px;
  }
  ul.idiomas{
    border-left: none;
    padding-right: 30px;
  }
  ul.idiomas li{
    float: right;
    width: auto;
  }
  .border-idiomas {
    border-left: solid #fff 1px;
    border-bottom: none;
  }

  .header-section {
    margin-top: 40px;
  }
  
}
@media (max-width: 500px) { 
  .idiomas-res{
    padding-left:60px;
  }
  .redes-res li{
    margin: 0 3px;
  }

  .title-modulo h1{
    font-size: 30px;
  }
  .title-modulo h2{
    font-size: 20px;
  }
  .description-modulo h3{
    font-size: 20px;
  }  
}