 body {
    overflow-x: hidden;
    background: #DBDBDB;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    top:0px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper img{
  margin: 14px;
}



#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;

    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .container{
       margin-right: 100px;    
    }



    

}

/** CONTENIDO **/

.header {
  background: url('../images/header_background.jpg') repeat;
  height:85px;
  margin-top: -8px;
}

.header h1{
  font-family: 'Helvetica', serif;
  color: #fff;
  font-size: 30px;
  margin: 28px;
  width: 80%;

}

.header a{
  float: left;


}

.fondo-mapa{
  width: 100%;
  height: 620px;
  margin-top: 20px;
  background:  url('../images/mapeo-background.jpg') no-repeat;

}

.menu-paises{
  width: 100%;
  height: 100px;
  background: fff;
  color: #282C59;

}

.footer{
  width: 100%;
  height: 100px;
  background: #262B56;

}


/** Otro jodido archivo de estilos ( home) **/

body {
  font-size: 16px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  background: #DBDBDB;
  width: 100%;
}

h2 {
  font-family: 'Helvetica', serif;
  color: #fff;
  text-align: center;
  width: 70%;
}
a{
  text-decoration:none;
  color:#000;
}
ul {
  font-size:12px;
  color:#000!important;
  margin-top:4px!important;
  padding-left: 30px;
}
li{
  font-size:12px;
  color:#000!important;
}
.container-fluid{
  margin:0px;
  padding:0px;
}
/** MENU LATERAL **/

.menulateral {
  background: #FFFFFF;
  width: 9%;
  height: 100%;
  float: left;
}
.menulateral a {
  border-bottom:1px solid #CACACA;
  width: 100%!important;
  float:left!important;
}
.menulateral a img{
  margin: 14px;
}

.imagen-logo:hover{
  opacity: 0.3;
}
/** CONTENIDO **/
.portal-cont{
  width:91%;
  height:auto;
  float:left;
}
.content{
  width: 100%;.menulateral a img
  height: auto;
  float: left;
  }

#logo-telefonica img{
  margin:0 auto;
  margin-top: 45px;
}
#logo-telefonica{
  width:100%;
  float:left;
}

section {
    display: block;
    float: left;
}



.linea-roja{
  width:100%;
  height:5px;
  background:#B23B39;
  padding:0px;
}
.linea-naranja{
  width:100%;
  height:5px;
  background:#C8611F;
}
.linea-azul{
  width:100%;
  height:5px;
  background-color:#5180AF;
}
/** CONTENIDO **/
.linea-footer{
  width:100%;
  height:10px;
  background-color:#282C59;
  float:left;
  
}
.fondo-mapa{
  width: 100%;
  height: 620px;
  margin-top: 20px;
  background:  url('../images/mapeo-background.jpg') no-repeat;

}

.menu-paises{
  width: 100%;
  height: 100px;
  background: fff;
  color: #282C59;

}
.menu-paises img{
  position: absolute;
    top: 0;
    width: 87%;
  
}
.footer{
  width: 100%;
  height: 100px;
  background: #262B56;

}

/** portal **/
.linea-text{
  width:100%;
  background-color:#f8f8f8;
  float:left;
}
.linea-text p{
  font-size:1.1em;
  color:#282c59;
  padding-top:6px;
  padding-left:31px;
}
.menu-paises{
  width:100%;
  float:left;
  height:auto;
  background:url('../images/mapeo-background.jpg')repeat;
  padding:180px 0 230px 0px;
}
.seccion-pais{
  width:100%;
  float:left;
  background-color:#fff;
  margin-top:40px;
}
.btn-pais a{
  font-size: 2.6em;
    width: 100%;
    text-align: center;
    font-weight: 600;
    float: left;
    padding: 23px 0 23px 0; 
}
.btn-pais a:hover{
  text-decoration:none;
}
.btn-pais:last-child{
  border-right:0px!important;
}
.btn-pais{
  width:33%;
  float:left;
  border-right:1px solid #1b1464!important;
  padding:0px!important;
}

.container {
    width: auto;
}

footer{
  background-color: #282c59;
  text-align: center;
}

footer span{
  width:70%;
  color:yellow;
}
