<div class="network-container">
    <div class="col-xs-1 col-sm-1 col-lg-1 network-conventions">
        <div id="network-viz-header">

        </div>
        <div class="network-convention-box">
            <div>
                <div class="network-convention">
                    <svg height="12" width="12">
                        <circle class="ods" cx="6" cy="6" r="6"></circle>
                    </svg>
                    <span>
                        <b>ODS</b>
                    </span>
                </div> 

                <div class="network-convention">
                    <svg height="12" width="12">
                        <circle class="fuente" cx="6" cy="6" r="6"></circle>
                    </svg>
                    <span>
                        <b>FUENTE</b>
                    </span>
                </div> 

                <div class="network-convention">
                    <svg height="12" width="12">
                        <circle class="datos" cx="6" cy="6" r="6"></circle>
                    </svg>
                    <span>
                        <b>DATO</b>
                    </span>
                </div>            
            </div>            

        </div>
    </div>
    <div class="col-xs-11 col-sm-6 col-lg-6 network-viz-container">
        <div id="network-viz-header">
            <div>
                <p>Navegue a través del mapa haciendo clic en alguno de los puntos en relación a los ODS, fuentes y datos.</p>
                <p>En el panel derecho encontrará la información detallada y el enlace que lo conducira al dato.</p> 
            </div>
        </div>
            <div id="forcemap"></div>
    </div>

    <div class="col-xs-11 col-sm-5 col-lg-5 network-node-info-container">
        <div id="network-viz-header">
            <div class="country-name">
                {{countryName.toUpperCase()}}
            </div>
       </div>
        <div class=" network-node-info">

            <span class="network-instructions" ng-show="nodeName==''">
                Haga click en uno de los puntos de la gráfica
            </span>
            
            <div class = "network-data" ng-show="nodeName!=''">
                <div ng-show="nodeName!=''">
                    <h4> {{nodeType}} </h4>
                    <p class="nodename">{{nodeName.toLowerCase()}}</p>
                    <div ng-show="nodeType=='ods'" class="ods-image" >
                        <span>
                            <img src="images/images_ODS {{odsIndex}}.png"/>
                            
                        </span>

                    </div>
                    <div ng-show="nodeType!='ods'">
                        <h4> ODS Relacionados </h4> 
                        <div  class="iconos-ods-network row">
                            <div ng-repeat = "odsNumber in relatedToNode.ods">
                                <div  class = "network-data-list">
                                    <img src="images/images_ODS {{odsNumber}}.png"  ng-click="clickNode({'name':odsNumber,'type':'ods'})"/>
                                </div>  
                            </div>  
                        </div>  
                        <br/>               
                    </div>
                    <div ng-show="nodeType!='fuente'" class = "network-data-list">
                        <h4> Fuentes Relacionadas </h4>     
                        <div ng-repeat = "fuente in relatedToNode.fuente" ng-click="clickNode({'name':fuente,'type':'fuente'})">
                            {{fuente.toLowerCase()}}
                        </div>                  
                    </div>
                    <div ng-show="nodeType!='datos'" class = "network-data-list">
                        <h4> Datos Relacionados </h4>       
                        <div ng-repeat = "datos in relatedToNode.datos"   ng-click="clickNode({'name':datos,'type':'datos'})">
                            {{datos.toLowerCase()}}
                        </div>                  
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>